
header, footer{
    background-color: rgb(255 119 206);
    padding: 20px;
}
main{
    margin-top: 30px;
    margin-bottom: 30px;
}
body{
    background-color: #f5fefe;
}
nav{
    display: flex;
    justify-content: space-around;

    a{
        font-size: 1.05em;
    }
}
section {
    border: 1px solid black;
}
th {
    border: 1px solid black;
    border-collapse: collapse;
}
img{
    width: 340px;
    height: 290px;
}
.evenement{
    h1{
    text-align: center;
    }
}
.media{
    h1, h3{
        text-align: center;
        color: ;
    }

}
.accueil{
    .fond_ecran {
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
            img {
                width: 60%;
                height: 500px;
            }
    }
    .bibliographie{
        h1{
            text-align: center;
            color: rgb(253, 105, 199);
            font-size: 30px;
        }
        padding: 50px;
    
        h4, h5{
           font-size: 20px; 
        }
        p {
            font-size: 18px;
        }
    }

}
.actualite{
    h4{
        font-size: 1.4em;
    }
    p{
        font-size: 1.05em;
    }
}
.photo{
    display: flex;
    article{
        margin: 20px;
    }
}