:root{
    --couleur_nav: rgb(255 119 206);
    --couleur_titre: rgb(253, 105, 199);
}
header, footer{
    background-color: rgb(255 119 206);
    padding: 20px;
}
main{
    margin-top: 50px;
    margin-bottom: 50px;
}
body{
    background-color: #f5fefe;
}
nav{
    display: flex;
    justify-content: space-around;

    a{
        font-size: 1.05em;
    }
}
section {
    border: 1px solid black;
}


.evenement{
    h1{
    text-align: center;
    }
    table{
        border-collapse: collapse;
    }
    th{
        border: 1px solid black;
        padding: 20px;
        width: 200px;
        text-align: center;
    }
    td{
        border: 1px solid black;
        padding: 10px;
        width: 200px;
        text-align: center;
    }
    #contact{
        padding: 10px;
        margin: 20px;

        h2{
            text-align: center;
            color: var(--couleur_titre);
        }
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        textarea{
            width: 100%;
            height: 150px;
        }
    }
    .bouton{
        display: block;
        padding: 10px;
        width: 200px;
        height: 50px;
        margin: auto;
        border-radius: 50px;
    }
}
.media{
    h1, h3{
        text-align: center;
        color: var(--couleur_titre);
    }
    img{
        width: 340px;
        height: 290px;
    }
    .photo, .video{
        display: flex;
        flex-wrap: wrap;
        article{
            margin: 20px;
            display: flex;
            flex-direction: column;
        }
        span{
            margin: 10px;
        }
    }
    video{
        width: 300px;
        height: 200px;
    }

}
.accueil{
    .fond_ecran {
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
            img {
                width: 60%;
                height: 500px;
            }
    }
    .bibliographie{
        h1{
            text-align: center;
            color: var(--couleur_titre) ;
            font-size: 30px;
        }
        padding: 50px;
    
        h4, h5{
           font-size: 20px; 
        }
        p {
            font-size: 18px;
        }
    }

}
.actualite{
    h4{
        font-size: 1.4em;
    }
    p{
        font-size: 1.05em;
    }
}
